.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-name {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  h2 {
    font-size: 20px;
  }
}

.card-category {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.card-description {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.card-description h2 {
  font-size: 20px;
}
.card-description p {
  font-size: 12px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-review {
  position: absolute;
  right: 5px;
  top: 5px;
}

.card-review {
  color: white;
}

.product {
  position: absolute;
  top: 5px;
  right:5px;
}
